.wrapMenuAcount {
  background-color: white;
  // width: 40%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  // padding: 1rem;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
  width: 210px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapMenuAcount_thumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.wrapMenuAcount_thumb_txt {
  font-size: 15px;
  line-height: 20px;
  margin: 0px;

  padding-left: 9px;
}
.wrapMenuAcount_thumb_btn {
  width: 90%;
  background-color: blue;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 9px;
}
.wrapMenuAcount_thumb:hover {
  opacity: 0.8;
  background-color: rgba(188, 177, 177, 0.814);
  cursor: pointer;
}
