.wrapCatalogProduct {
  display: flex;
  flex-direction: column;
}
.wrapCatalogProduct_fillter_Price {
  width: 25vh;
  background-color: white;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 15px;
}
.catalog__filter__widget__content__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bodyPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bodyPrice_content {
  border-style: solid;
  width: 100px;
  height: 20px;
  font-size: 14px;
  // margin: 5px;

  text-align: center;
  border-color: rgb(203, 206, 208);
  border-width: 1px;
  border-radius: 5px;
}
.ant-tooltip-inner {
  color: yellow;
  background-color: green;
  width: 200px;
}
.changePrice {
  margin: 10px 10px;
}
@media screen and (min-width: 1200px) and (max-width: 1428px) {
  .wrapCatalogProduct {
    margin-top: 50px;
  }
}
@media screen and (min-width: 999px) and (max-width: 1200px) {
  .wrapCatalogProduct {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wrapCatalogProduct {
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .wrapCatalogProduct {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .wrapCatalogProduct {
    margin-top: 150px;
  }
}
