.wrapCard {
  background-color: white;
  // width: 40%;
  height: 395px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
  width: 384px;
  max-height: 400px;
}
.wrapCard_Content {
  height: 70%;
  // position: relative;
  overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}
