.wrapChatBox {
  position: fixed;
  z-index: 20000;
  right: 0rem;
  bottom: 0rem;
  width: 25%;
}
.chatBox-input {
  height: 24px;
  max-height: 200px;
  overflow-y: hidden;
}
.ChatBody {
  height: 450px;
  overflow-y: scroll;
  // display: flex;
  // flex-direction: column-reverse;
  // justify-content: flex-start;
}

.message {
  display: flex;
  flex-direction: row;
  // margin: 20px 15px;
}
.messright {
  margin-right: 8px;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.messleft {
  margin-right: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.message.leftContainer {
  margin-left: 10px;
  margin-right: auto;
  align-items: center;
}
.message.rightContainer {
  display: flex;
  margin-left: auto;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.messImg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;

  // img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: contain;
  //     object-position: center;
  // }
}
.messText {
  padding: 10px;
  padding-inline: 20px;
  border-radius: 20px;
  background-color: rgb(55 74 216);
  color: black;
  word-wrap: break-word;
  max-width: 500px;
  margin-left: 10px;
}
.cs-message__content {
  color: white;
  background-color: red !important ;
}
.Message-content-text.outgoing {
  color: #fff;
}
.user {
  color: white;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wrapChatBox {
    width: 35%;
  }
}
@media screen and (min-width: 460px) and (max-width: 768px) {
  .wrapChatBox {
    width: 55%;
  }
}
@media screen and (max-width: 460px) {
  .wrapChatBox {
    width: 85%;
  }
}
