@import url("https://rsms.me/inter/inter.css");
:root {
  --color-light: white;
  --color-dark: #8e89893c;
  --color-signal: #fab700;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;

  line-height: 1.4;

  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  // padding: 0 calc(var(--size-bezel) * 3);
}

.input {
  position: relative;
  margin-top: 15px;
  width: 90%;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);

    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);

    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    // font-weight: bold;
    color: gray;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 70%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
        font-weight: bold;
      }
    }
  }
}
.input__label_improtant {
  position: absolute;
  // right: 240px;
  left: -10px;
  top: 0;
  color: red;
}
.Wrap_address {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
.address_btn {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //   align-items: center;
}
.Paytxt {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .wrapPayBody {
    margin-top: 100px;
  }
  .info-order-rep {
    display: block;

    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .wrapPayBody_left {
    display: none;
  }
  .wrapPayBody_right_Sumpay {
    margin-top: 10px;
  }
  .container {
    width: 700px;
  }
  .wrapPayBody_right_infoProduct_wrap_rep {
    display: block;
  }
  .wrapPayBody_right_infoProduct_wrap {
    display: none;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wrapPayBody {
    margin-top: 100px;
  }
  .wrapPayBody_left {
    width: 60%;
  }
}
@media screen and (min-width: 999px) and (max-width: 1400px) {
  .wrapPayBody {
    margin-top: 60px;
  }
}
