.wrapPayBody {
  // display: flex;
  // flex-direction: row;
}
.wrapPayBody_right_address {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.wrapPayBody_right_address_btn {
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  border: 1px solid rgb(20, 53, 195);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: rgba(108, 103, 103, 0.621);
  margin-right: 10px;
}
.wrapPayBody_right_metodpay_wrapbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapPayBody_right_metodpay {
  background-color: white;
  padding-bottom: 15px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.wrapPayBody_left {
  margin-left: 15px;
  width: 30%;
}
.wrapPayBody_right_infoProduct_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapPayBody_right_infoProduct {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
.wrapPayBody_right_Sumpay {
  margin-top: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}
.wrapPayBody_right_Sumpay_content {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapPayBody_right_Sumpay_btn {
  background-color: blue;
  border-radius: 5px;
  border-color: blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.wrapPayBody_right_Sumpay_text {
  font-size: 18px;
  font-weight: 600;
}
.wrapPayBody_right_Sumpay_text_red {
  font-size: 18px;
  font-weight: bold;
  color: red;
}
.info-order-rep {
  display: none;
}
.wrapListCart_Content_tr_text {
  font-weight: bold;
}
.Paytxt {
  font-weight: bold;
}
.wrapPayBody_right_infoProduct_wrap_rep {
  display: none;
}
.discout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn_Use {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ee5435;
  border-color: #ee5435;
  border-radius: 5px;
}
.btn_Use:hover {
  color: #ffffff;
  background-color: #ff2b00;
  border-color: #ff2b00;
  border-radius: 5px;
}
.input {
  position: relative;
  margin-top: 15px;
  width: 90%;
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);

    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    // font-weight: bold;
    color: gray;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 70%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
        font-weight: bold;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapPayBody {
    margin-top: 100px;
  }
  .info-order-rep {
    display: block;

    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .wrapPayBody_left {
    display: none;
  }
  .wrapPayBody_right_Sumpay {
    margin-top: 10px;
  }
  .container {
    width: 700px;
  }
  .wrapPayBody_right_infoProduct_wrap_rep {
    display: block;
  }
  .wrapPayBody_right_infoProduct_wrap {
    display: none;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wrapPayBody {
    margin-top: 100px;
  }
  .wrapPayBody_left {
    width: 60%;
  }
}
@media screen and (min-width: 999px) and (max-width: 1400px) {
  .wrapPayBody {
    margin-top: 60px;
  }
}
