.btnTop {
  // padding: 10px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  border-radius: 50%;
  // text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  visibility: hidden;
}
.btnTop.show {
  // padding: 10px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  border-radius: 50%;
  // text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  visibility: visible;
}
.Scroll {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 1030;
  right: 2.5rem;
  bottom: 5.6rem;
  margin-top: -2rem;
}
.ChatEmployeeImg {
  width: 180px;
  height: 60px;
  background-image: url(../../../assets/scroll.jpg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .btnTop.show {
    visibility: hidden;
  }
  .ChatEmployeeImg {
    width: 62px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../../../assets/scrollrep.jpg);
    background-repeat: no-repeat;
  }
}
