.promo-img{
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 0%;
    // width: 576px;
    margin-top: 0px;
    padding-top: 5px;
}
.promo-content{
    padding: 30px;
}
.promo-title{
    margin-top: 10px;
    box-shadow: 5px 5px 10px 0 rgb(135 135 135 / 67%);
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    
}