.wrapProductView {
  //   margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.ProductView_Img_list {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 5vh;
  height: 10vh;
}
.ProductView_Img_itemImg {
  object-fit: contain;
  cursor: pointer;
}
.ProductView_Img_itemImg:hover {
  border: red solid 2px;
}
.ProductView_Img_main {
  width: 80%;
  object-fit: contain;
}
.ProductView_Img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
}
.ProductView_Content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ProductView_Content_origin {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  font-size: 18px;
}
.ProductView_txtName {
  line-height: 1.33;
  font-size: 28px;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ProductView_txtTrademark {
  color: rgb(130, 134, 158);
  font-weight: 400;
  line-height: 16px;
  font-size: 18px;
  margin-right: 5px;
}
span.ProductView_txtTrademark_Name {
  color: blue;
  font-weight: 400;
  line-height: 16px;
  font-size: 18px;
  margin-right: 5px;
}
.ProductView_txtPrice {
  color: rgb(20, 53, 195);
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
}
.ProductView_Discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ProductView_txtPrice_dis {
  text-decoration: line-through;
  font-size: 25px;
  margin-right: 20px;
}
.ProductView_btn_Buy {
  width: 100%;
  height: 6vh;
  text-align: center;
  background-color: rgb(20, 53, 195);
  border-color: rgb(20, 53, 195);
  border-radius: 4px;
  color: white;
}
.ProductView_btn_Addcard {
  width: 100%;
  // line-height: 5vh;
  height: 6vh;
  margin: 5px;
  background-color: white;
  border-color: rgb(20, 53, 195);
  border-radius: 4px;
  color: rgb(20, 53, 195);
}
.ProductView_btn {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .wrapProductView {
    margin-top: 20px;
  }
}
@media screen and (min-width: 999px) and (max-width: 1200px) {
  .wrapProductView {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .wrapProductView {
    margin-top: 90px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .wrapProductView {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  }
}
